modules = ["nodejs-20", "web"]
run = "npm run build && node build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && node build"]

[[ports]]
localPort = 3000
externalPort = 80
