---
import { Image } from 'astro:assets'

const friends = [
    {
        name: 'Instellate',
        avatar: 'https://instellate.xyz/img/button.png',
        link: 'https://instellate.xyz/'
    },
    {
        name: 'Lumap',
        avatar: 'https://lumap.xyz/button.png',
        link: 'https://lumap.xyz/'
    }
]
---

<div class='friends-section'>
    <h2>Friends</h2>
    <div class='friends-grid'>
        {
            friends.map((friend) => (
                <a href={friend.link}>
                    <Image
                        class='friend-avatar'
                        src={friend.avatar}
                        alt={friend.name}
                        width={88}
                        height={31}
                        loading={'eager'}
                    />
                </a>
            ))
        }
    </div>
</div>
